.folder_conversation_item {
    padding-right: 5px;
    padding-left: 14px;
    border-bottom: 1px solid #e0e0e0;
}

.folder_conversation_item .addresses,
.folder_conversation_item .received,
.conversation_message_item .addresses.to,
.conversation_message_item .addresses.cc,
.conversation_message_item .addresses.bcc,
.conversation_message_item .received {
    color: rgba(100, 100, 100, 1);
}

.conversation_message_item .subject {
    font-size: 16px;
}

.conversation_message_item {
    margin: 7px;
    padding: 10px;
}

.conversation_message_item .addresses_label {
    margin-right: 3px;
}

.conversation_message_item .header_summary_fields {
    margin-bottom: 15px;
}

.conversation_message_item .attachment_indicator {
    margin-right: 3px;
}

.folder_conversation_item:selected {
    background-color: #3584e4;
}

.folder_conversation_item:selected .addresses,
.folder_conversation_item:selected .received {
    color: rgba(255, 255, 255, 0.8);
}

.folder_conversation_item:selected .subject,
.folder_conversation_item:selected .unseen_dot {
    color: #fff;
}

.folder_conversation_item .star {
    border: 0;
    padding: 0;
    background: transparent;
}

.folder_conversation_item.unseen {
    padding-left: 0;
}

.folder_conversation_item.unseen .subject {
    margin-left: 0;
}

.folder_conversation_item.unseen .addresses {
    margin-left: 14px;
}

.folder_conversation_item.unseen .subject,
.folder_conversation_item.unseen .unseen_dot {
    color: #0777D4;
}