@define-color headerbar_background_color rgb(247,172,55);
@define-color headerbar_color rgba(30,30,30,0.7);

headerbar {
    background: @headerbar_background_color;
    color: @headerbar_color;
    font-weight: bold;
}

headerbar button:hover {
    color: @headerbar_color;
    background-color: lighter(@headerbar_background_color);
}

headerbar button:active {
    color: @headerbar_color;
    background-color: darker(@headerbar_background_color);
}

.welcome-dialog {
    background: #fff;
}

.welcome-dialog .h1  { font-size: 30px; }

.welcome-dialog .initial-information-grid { margin-top: 40px; }
.welcome-dialog .form-entry { margin-left: 30px; }

.welcome-dialog .button { margin-top: 30px; }

.folder_conversation_item {
    padding-right: 5px;
    padding-left: 14px;
    border-bottom: 1px solid #efefef;
}

.folder_conversation_item .addresses, .folder_conversation_item .received {
    color: rgba(100, 100, 100, 0.6);
}

.folder_conversation_item:selected .addresses, .folder_conversation_item:selected .received {
    color: rgba(255, 255, 255, 0.6);
}

.folder_conversation_item .star {
    border: 0;
    padding: 0;
    background: transparent;
}

.folder_conversation_item.unseen {
    padding-left: 0;
}

.folder_conversation_item.unseen .subject {
    margin-left: 0;
}

.folder_conversation_item.unseen .addresses {
    margin-left: 14px;
}

.folder_conversation_item.unseen .subject, .folder_conversation_item.unseen .unseen_dot {
    color: #0777D4;
}

.folder_conversation_item.unseen:selected .subject, .folder_conversation_item.unseen:selected .unseen_dot {
    color: #fff;
}
