[Desktop Entry]
Name=Envoyer
Encoding=UTF-8
GenericName=Email App
Comment=Mail for the Linux desktop
Categories=GNOME;GTK;Network;Email;Internet;
Exec=com.github.matzipan.envoyer
Icon=internet-mail
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-Gettext-Domain=envoyer
X-GNOME-UsesNotifications=true
MimeType=x-scheme-handler/mailto;
Keywords=email;e-mail;envoyer;mail;send;inbox;
