[Desktop Entry]
Encoding=UTF-8
Name=Envoyer
Comment=Mail for the Linux desktop
Exec=/usr/bin/envoyer
Icon=internet-mail
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/mailto;
Keywords=Email;E-mail;Mail;
Categories=GNOME;GTK;Network;Email;
