[Desktop Entry]
Encoding=UTF-8
Name=Mail-ng
Comment=Next generation mail app
Exec=/usr/bin/pantheon-mail-ng
Icon=internet-mail
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/mailto;
Keywords=Email;E-mail;Mail;
Categories=GNOME;GTK;Network;Email;
